/*CORES TRABALHADAS: 

#87B058 - Verde claro
#748A5B -Verde musgo
#97DB48 - Verde neon
#555C4C - Verde acizentado
#33382D - Verde acizentado escuro
#2A3320 - Verde escuro */


body{
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 7px;
    color: white;
}
h1{
    text-align: center;
}
#usuario{
    padding: 10px;
    border: none;
    font-size: 15px;
    outline: none;
    background-color: #161616;
    color: #87B058;
}
#usuario:hover{
    outline-color: #87B058;
    outline-style: solid;
}
#usuario:-webkit-autofill {
    box-shadow: #161616;
    -webkit-box-shadow: 0 0 0 1000px #161616 inset;
    -webkit-text-fill-color: #87B058;
    transition: background-color 5000s ease-in-out 0s;
}
#senha{
    padding: 10px;
    border: none;
    font-size: 15px;
    outline: none;
    background-color: #161616;
    color: #87B058;
}
#senha:hover{
    outline-color: #87B058;
    outline-style: solid;
}
#senha:-webkit-autofill {
    box-shadow: #161616;
    -webkit-box-shadow: 0 0 0 1000px #161616 inset;
    -webkit-text-fill-color: #748A5B;
    transition: background-color 5000s ease-in-out 0s;
}
#email{
    padding: 10px;
    border: none;
    font-size: 15px;
    outline: none;
    background-color: #161616;
    color: #748A5B;
    width: 95.5%;
}
#email:hover{
    outline-color: #748A5B;
    outline-style: solid;
}
#email:-webkit-autofill {
    box-shadow: #161616;
    -webkit-box-shadow: 0 0 0 1000px #161616 inset;
    -webkit-text-fill-color: #748A5B;
    transition: background-color 5000s ease-in-out 0s;
}
label{
    color: rgb(161, 161, 161);
    font-size: 13px;
}
#termos{
    font-size: 14px;
    text-decoration: none;
    color: #748A5B;
}
#termos:hover{
    color:#97DB48;
}
#termos:visited{
    color:#97DB48;
}
#criar-conta{
    background-color: #97DB48;
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-left: 25%;
}
#criar-conta:hover{
    background-color: #97DB48;
    cursor: pointer;
}
#jaTenhoConta{
    color:#748A5B;
    font-size: 13px;
    margin-left: 37%;
    text-decoration: none;
}
#jaTenhoConta:hover{
    color:#97DB48;
}
#jaTenhoConta:visited{
    color:#97DB48;
}